body{
  margin:0;
  font-family: 'IBM Plex Mono', monospace;
}

/*Typography*/



/*Layout*/
.main-image{
  width:100%;
  display: block;
  max-width: 650px;
  margin: 0 auto 2em; 
}

.container{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.section-two-image-container{
  display: flex;
  flex-wrap: wrap;
  gap:1em;
}

.feature-image{
  width: 100%;
  border-radius: 4.6px;
}

.feature-item{
  flex: 1 260px;
}